# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/

# Databricks
.dbc
*.dbc
*.rlog
*/.ipynb_checkpoints/
Databricks/

# Jupyter / Notebooks
.ipynb_checkpoints
*.ipynb_checkpoints
*.log

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos sensíveis
*.key
*.pem
*.env
secrets.json

# Dados temporários
data/temp/
data/tmp/
*.csv
*.parquet
*.delta
